* {
  margin: 0;
  padding: 0;
}

html, body, .center1, .center2, .squares {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #303030;
}

.center1 {
  display: table;
}

.center2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}

.squares {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  box-sizing: border-box;
}

#btn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 92px;
  height: 30px;
  margin: 12px auto 6px;
  font-family: sans-serif;
  background: #848484;
  border: 3px solid #afafaf;
  color: #fafafa;
  font-size: 1em;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #000;
  }
  &:active {
    transform: translate(1px, 1px);
    box-shadow: 0 0 10px #fff;
  }
}
