doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="squares that are fresh")
    title fresh squares
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='fresh.css')
    link(rel="icon", type="image/png", href="assets/favicon32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="assets/favicon16.png", sizes="16x16")
  body
    .center1
      .center2
        .squares
    button#btn SQUARES
    script(src='lib/build.js')
    script(src='fresh.js')
