doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="A starter repo for Gulp, Jade, Sass, and jQuery")
    title Gulp | Jade | Sass | jQuery
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='main.css')
    //- link(rel="icon", type="image/png", href="assets/favicon32.png", sizes="32x32")
    //- link(rel="icon", type="image/png", href="assets/favicon16.png", sizes="16x16")
  body
    .center1
      .center2
        .container
    .options
      select(name='colorCombo')
        option(value='analogous') analogous
        option(value='monochromatic') monochromatic
        option(value='splitcomplement' selected) splitcomplement
        option(value='triad') triad
        option(value='tetrad') tetrad
      select(name='luminosity')
        option(value='bright' selected) bright
        option(value='light') light
        option(value='dark') dark
      select(name='random')
        option(value='one') one
        option(value='full' selected) full
    script(src='lib/build.js')
    script(src='main.js')
