doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="perfect squares!")
    title SQUAREZ
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='main.css')
    link(rel="icon", type="image/png", href="assets/favicon32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="assets/favicon16.png", sizes="16x16")
  body
    .center1
      .center2
        .container.squares
          p#height height:
          p#width width:
          p#rows rows:
          p#columns columns:
          input#square(placeholder='square side')
          input#squareMin(placeholder='square side min')
          input#squareMax(placeholder='square side max')
          input#gutter(placeholder='gutter')
          input#gutterMin(placeholder='gutter min')
          input#gutterMax(placeholder='gutter max')
          button#trySquares SQUARES
    script(src='lib/build.js')
    script(src='squares.js')
