doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="perfect squares!")
    title SQUAREZ
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='main.css')
    link(rel="icon", type="image/png", href="assets/favicon32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="assets/favicon16.png", sizes="16x16")
  body
    .absPos
      .center1
        .center2
          .container.squares
    .absPos
      .center1
        .center2
          .container.squareOptions
            p#width width:
            p#height height:
            p#rows rows:
            p#columns columns:
            div
              p square side:
              input#square(placeholder='square side' value='50')
            div
              p square side min:
              input#squareMin(placeholder='square side min' value='25')
            div
              p square side max:
              input#squareMax(placeholder='square side max' value='200')
            div
              p gutter:
              input#gutter(placeholder='gutter' value='0')
            div
              p gutter min:
              input#gutterMin(placeholder='gutter min' value='1')
            div
              p gutter max:
              input#gutterMax(placeholder='gutter max' value='20')
            button#trySquares SQUARES
    script(src='lib/build.js')
    script(src='squares.js')
